/* Colors scheme https://color.adobe.com/pl/explore?page=3 */

/* keyframes appear */

@keyframes appearFromTop {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearFromCenter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appearButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bouncingButton {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* keyframes dissapear  */

@keyframes disappearFromTop {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-500px);
    }
}
            
@keyframes disappearFromCenter {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(500px);
    }
}

/* styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Tomorrow', sans-serif;
    background-color: #CBDBD7;
    color:#3E606F;
}

/* navigation */

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    font-size: 1em;
    /* transition: .4s; */
    cursor: pointer;
}

nav ul li span {
    display: none;
}

nav ul li:hover  {
    color: #CBDBD7;
    border: 0px solid;
}

nav ul li:hover span {
    display: initial;
    color:#3E606F ;
}

/* section */

.main_section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    position: absolute;
}

.main_section h1 {
    margin: 0;
    font-size: 3em;
}

.button {
    border: 1px solid;
    padding: 8px;
    color: #CBDBD7;
    background-color:#3E606F;
    font-size: 1.1em;
    margin-top: 5%;
    font-family: 'Tomorrow', sans-serif;
    transition: .4s;
    cursor: pointer;
}

.button:hover {
    background-color: #91AAB4 ;
    color: #FCFFF5;
    border: 1px solid #91AAB4 ;
}


/* animations */

.main_section .from-top {
    animation: appearFromTop 3.3s .1s both;
}

.main_section .from-center {
    animation: appearFromCenter 1.4s 3s both;
}

.main_section #button-bouncing {
    animation: appearButton 1.4s 3s both, bouncingButton infinite 1.3s 3s both;
}

        /* animations 2 */

        .main_section .from-top-disappear {
            animation: disappearFromTop 3.3s .1s both;
        }

        .main_section .from-center-disappear {
            animation: disappearFromCenter .3s .2s both;
        }

        .main_section_dissapear {
            display: none;
        }

/* Playground */

#play_ground {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: 25%;
}

#player_won {
    flex-basis: 100%;
    text-align: center;
}

.players {
    display: flex;
    flex-direction: column;
}

#play_ground .dice {
    width: 75px;
    height: 75px;
    margin: 5px;
}

.dice_clicked {
    -webkit-box-shadow: 0px 0px 10px 4px rgba(62,96,111,1);
    -moz-box-shadow: 0px 0px 10px 4px rgba(62,96,111,1);
    box-shadow: 0px 0px 10px 4px rgba(62,96,111,1);
}

#buttons {
    align-self: center;
    display: grid;
}